.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.button {
  margin-top: 120px !important;
}

.logo {
  width: 20px;
  margin-left: 8px;
}