.container {
  max-width: 900px;
  padding: 16px;
  margin: 0 auto;
}

.buttonsWrapper {
  display: flex;
  margin-bottom: 32px;

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.coinImage {
  width: 24px;
}

.bigCoinImage {
  width: 48px;
  margin-right: 16px;
}

.card {
  margin: 16px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: lightgray;

  div:first-child {
    display: flex;
    align-items: center;
    font-size: 22px;
  }
}