.container {
  max-width: 900px;
  padding: 16px;
  margin: 0 auto;
}

.buttonsWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 32px;

  div {
    display: flex;
    align-items: flex-end;

    &:first-child > *:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.coinImage {
  width: 24px;
  margin-right: 8px;
}

.baseInfo {
  font-size: 18px;
  span {
    margin-left: 4px;
    font-weight: bold;
  }
}