.toolbar {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: calc(100% - 48px);
  margin: 0 auto;
}

.userInfo {
  display: flex;
  align-items: center;
  div:first-child {
    margin-right: 8px;
  }
}